<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.matches">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Matches"
       >

    <activity android:name="com.example.matches.SplashActivity"
        android:theme="@style/SplashTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".Authentication.Login_Activity" />
        <activity android:name=".Activities.MainActivity"/>
        <activity android:name=".Authentication.Registration_Activity"/>
        <activity android:name=".Activities.Profile_Activity"/>
        <activity android:name=".Activities.Matched_Activity"/>
        <activity android:name=".Activities.edit_profile"/>
        <activity android:name=".Activities.Check_info"/>
        <activity android:name=".Activities.Chat_Activity"/>
        <activity android:name=".Authentication.ForgotPassword_Activity"/>
    </application>

</manifest>